@charset "UTF-8";
/* CSS Document */


/*=================
	Global
===================*/
html {
	background: url('../img/rice.png') #efd8a9;	
}

/*==============================
        Logo
==============================*/
header h1 a {
        background: #bec49a url("../img/Logo.png") no-repeat center center;
        border-radius: 50%;
        display: block;
        height: 200px;
       	left: 40px;
        position: relative;
        text-indent: -999em;
        width: 230px;
        z-index: 2;
		
        
        /* CSS 3*/
    -webkit-transition: background-color .75s;    
    transition: background-color .75s;
		
}

header h1 a:hover {
        background: #6e684b url("../img/Logo.png") no-repeat center center;
}

header h1 {
	border-bottom: none;
}


/*==============================
        Navigation
==============================*/
header {
        position: relative;
}


header li {
        float: left;
        list-style: none;
		border-radius: 35%;
		padding-top: 10px;
}


header ul {
        margin: 0 auto;
}


header div {
        background: #bec49a;        
        border-radius: 20px; /*20px*/
    	height: 64px; /*64px*/
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%; /*960px*/
		   }

header nav {
	float: right;
	margin-top: -177px;
}

nav li {
	margin: 70px 7px 0 7px ;
	background: #bec49a;
	display : inline;
  	font-family: 'greyscalebasicregular', sans-serif;	
}

nav a:link,
nav a:visited {
        color: #8c745e;
    	font-family: 'greyscalebasicregular', arial, sans-serif;
        height: 64px;
        display: block;
        line-height: 48px;
        text-align: center;        
        text-decoration: none;
        text-transform: uppercase;
        width: 128px; 
		z-index: 2;
        
        /*CSS 3*/
  -webkit-transition: all 1s;      
  transition: all 1s;
}

nav a:hover, 
nav a:active {
    color: #8c745e;
    margin-top: 10px;
}


/*====================
		fonts
=================*/


/*Head*/
@font-face {
    font-family: 'roman_sdregular';
    src: url('../fonts/Roman_SD-webfont.eot');
    src: url('../fonts/Roman_SD-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roman_SD-webfont.woff') format('woff'),
         url('../fonts/Roman_SD-webfont.ttf') format('truetype'),
         url('../fonts/Roman_SD-webfont.svg#roman_sdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*Subhead*/
@font-face {
    font-family: 'greyscalebasicregular';
    src: url('Greyscale_Basic_Regular-webfont.eot');
    src: url('Greyscale_Basic_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Greyscale_Basic_Regular-webfont.woff') format('woff'),
         url('Greyscale_Basic_Regular-webfont.ttf') format('truetype'),
         url('Greyscale_Basic_Regular-webfont.svg#greyscalebasicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*Graf*/
@font-face {
    font-family: 'rabioheadregular';
    src: url('../fonts/rabiohead-webfont.eot');
    src: url('../fonts/rabiohead-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rabiohead-webfont.woff') format('woff'),
         url('../fonts/rabiohead-webfont.ttf') format('truetype'),
         url('../fonts/rabiohead-webfont.svg#rabioheadregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*------------Applied fonts--------------*/
h1 {
	font-family: 'roman_sdregular', serif;
	font-size: 2em;
	color: #402b3a;	
	border-bottom: .125em double #97c2cc;;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'greyscalebasicregular', sans-serif;
	font-size: 1.5em;
	color: #8c745e;
}

p {
	font-family: 'rabioheadregular', helvetica, sans-serif;
    line-height: 24px;
	font-size: 1.25em;
	color: #6c7371;		
}

 
/* Links and lists */
a {
  text-decoration : none;
  color : #bec49a;
}


/*===============================================
	Structure and layout
=================================================*/


.container {
        margin: 10px auto;
        width: 90%; /*960px*/
		background: #f5f1df;
		padding: 20px;	
}

.container:after {
	content : ".";
  display : block;
  height : 0;
  clear : both;
  visibility : hidden;
}


article {
        padding-top: 0.20833%;
}

/*==================
	index
=================*/

.greeting {
	margin: 0 auto;
	width:  90%; /*864px*/	
}


/*=================
	Write.html 
===================*/
.wleft h1,
.wright h1 {
	border-bottom: none;
}

.wleft h3,
.wright h3 {
	font-size: 1.125em;	
}

.wleft p,
.wright p {
	font-size: 1em;	
}

section.wleft,
section.wright{
  text-align: center;
  border: .25em double #97c2cc;
  border-radius: 20%;
  width: 45%; /*432px*/
  padding: 1em;
  margin: .75em;
  float: left;
}

.wleft a:link,
.wleft a:visited,
.wright a:link,
.wright a:visited {
  text-decoration: none;
  color: #6c7371;
  
  
  /*CSS*/
  -webkit-transition: box-shadow 1s;
  transition: box-shadow 1s;
}

.wleft:hover,
.wleft:active,
.wright:hover,
.wright:active {
  box-shadow: inset 0 0 2em .1em #97c2cc;
}

.bcopy {
	margin: 0 0 0 50px;	
}

blockquote {
	font-family: 'rabioheadregular', helvetica, sans-serif;
    line-height: 24px;
	font-size: .8em;
	color: #6c7371;		
}

/*-----Footer------*/

footer {
	width: 95%;
	padding: 20px;	
}

footer p {
 line-height: 2em;
 font-size: 1em;	
}


footer.previous a,
footer.next a {
  padding-top:10px;
  width: 100px;
  height: 48px;
  text-decoration: none;
  color: #6e684b;
  font-size: 4em; /*48px*/
}


.previous {
  float: left;
  padding-left: 50px;
  padding-top: 3px;
  background: url("../img/sprite.png") no-repeat -1px -96px;
  font-size: 2.5em; /*48px*/
}


.previous:hover,
.previous:target {
  background: url("../img/sprite.png") no-repeat -1px -148px;
}

.next {
  text-align: center;
  float: right;
  padding-right: 100px;
  padding-top: 2px;
  background: url("../img/sprite.png") no-repeat 90px -1px;
  font-size: 2.5em; /*48px*/
}

.next:hover,
.next:target {
  background: url("../img/sprite.png") no-repeat 90px -49px;
}


/*=================
	Design.html
===================*/

section.dleft,
section.dright {
  text-align: center;
  border: .25em double #97c2cc;
  width: 25%;
  height: 500px;
  padding: 1em;
  margin: .75em;
  float: left;
}

.dleft a:link,
.dleft a:visited,
.dright a:link,
.dright a:visited {
  text-decoration: none;
  color: #6c7371;
  
  
  /*CSS*/
  -webkit-transition: box-shadow 1s;
  transition: box-shadow 1s;
}

.dleft:hover,
.dleft:active,
.dleft:target,
.dright:hover,
.dright:active,
.dright:target {
  box-shadow: inset 0 0 2em .1em #97c2cc;
}

/*=================
	Submit.html
===================*/


/*-----Layout--------*/



section.types {
	width: 70.833333%; /*680px*/
	float: left;
	/*border-right: .25em double #97c2cc;
	padding-right: 10px;*/
}

section:after {
  content : ".";
  display : block;
  height : 0;
  clear : both;
  visibility : hidden;
}

section.instructions {
 	width: 100%; /*960*/
	padding: 600px 0 0 0;
}

aside {
	float: right;
	width: 20.083333%; /*260px*/
	padding-bottom: 250px;
	background: #97c2cc;
	padding: 50px;		
}

aside li {
  display : list;
  font-family: 'rabioheadregular', helvetica, sans-serif;
  line-height: 24px;
  font-size: 1em;
  color: #6c7371;	
  list-style: none;
  	
}

/*form*/

input {
  font-size: inherit;
}

input[type="text"] {
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  width: 250px;
  border: 2px solid #97c2cc;
}

textarea {
  width: 270px;
  height: 300px;
  border: 2px solid #97c2cc;
  margin-bottom: 20px;
}

input[type="radio"] {
  margin: 0 8px 25px 18px;
}

input[type="radio"]:first-child {
  margin-left: 0;
}

input[type="submit"] {
  width: 150px;
  height: 50px;
  border: none;
  background: #6c7371;
  color: #97c2cc;
  font-size: inherit;
  border-radius: 10%;
  font-size: font-family: 'roman_sdregular', serif;
	font-size: 2em;
}

input:hover {
  background-color: #6c7371;
  color: #801c1c;
}

input:focus {
  background-color: brown;
}*/

/*UI Element States Pseudo-Classes*/

input[type="text"]:enabled {
  background: #fcfbcc;
}

/*By putting the + will target adjacent siblings*/

input[type="radio"]:checked + label {
  font-size: 1.375em;
  font-weight: bold;
}



